{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="container">

    {% if mensajes >= 1 %}
    <div id="element" style="visibility:hidden;">
        <p style="color:white; background-color: green; text-align: center;">
            Tienes un mensaje nuevo.
        </p>
    </div>
    {% endif %}
    <div style="padding-top:50px; text-align:center;">
        <h6>Comentnos en Facebook</h6>
        <br>
        <div class="fb-page" data-href="https://www.facebook.com/MexInc-100352612320913" data-tabs="timeline"
            data-width="" data-height="" data-small-header="false" data-adapt-container-width="true"
            data-hide-cover="false" data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/MexInc-100352612320913" class="fb-xfbml-parse-ignore"><a
                    href="https://www.facebook.com/MexInc-100352612320913">MexInc</a></blockquote>
        </div>


    </div>
</div>


<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v11.0&appId=326465258821299&autoLogAppEvents=1"
    nonce="eFl4zNrq">
    </script>
<script>
    document.getElementById("element").style.visibility = 'visible';
    setTimeout(tiempo, 3000);
    function tiempo() {
        document.getElementById("element").style.visibility = 'hidden';
    }

</script>
{% endblock %}