[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-ckeditor = "==6.0.0"
pillow = "*"
pylint = "*"
pylint-django = "*"
pylint-celery = "*"
pip = "*"
mysql-connector-python = "*"
pymysql = "*"
mysqlclient = "*"
django-utils-six = "*"

[dev-packages]

[requires]
python_version = "3.9"
