Django==3.2.4
django-ckeditor==6.0.0
django-js-asset==1.2.2
django-utils-six==2.0
mysql-connector-python==8.0.25
mysqlclient==2.0.3
Pillow==8.2.0
pylint==2.8.3
pylint-celery==0.3
pylint-django==2.4.4
pylint-plugin-utils==0.6
PyMySQL==1.0.2
qrcode==6.1
sqlparse==0.4.1
