{% extends 'core/base.html' %}
{% load static %}
{% block title %}Página{% endblock %}
{% block content %}
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Usario</th>
                        <th scope="col">Total estrellas</th>
                        <!--<th scope="col">Producto</th>
                        <th scope="col">Ultima vez</th>-->
                    </tr>
                </thead>
                {% for rc in recompensas_recompensa_empresa %}
                <tbody>
                    <tr>
                        <td>{{rc.nombreUsuario}}</td>
                        <td>{{rc.total_recompensa}}</td>
                        <!--<td>{{rc.producto}}</td>
                        <td>{{rc.fechaCompra}}</td>-->
                    </tr>
                </tbody>
                {% endfor %}
            </table>
            <br><br><br>
        </div>
    </div>
</div>



{% endblock %}