{% extends 'core/base.html' %}
{% load static %}
{% block title %}Página{% endblock %}
{% block content %}

<style>
    .padre {
        display: table;
        height: 300px;
    }

    .hijo {
        display: table-cell;
        vertical-align: middle;
        font-size: 39px;
        text-align: center;
    }
</style>

<div class="container">

    <div class="row ">
        <div class="col-6 padre ">
            <h4 class="hijo">
                {{saludo }}, {{usuario}} <i class="fa fa-hand-paper-o" style="font-size:30px;color:#000000"></i>
            </h4>
        </div>

        <div class="col-6 padre ">
            <h4 class="hijo">
                {% for rc in recompensas_recompensa %}
                {{rc.estrellas}} <i class="fa fa-star-o" style="font-size:30px;color:#FF8000;"></i> en {{rc.nombreEmpresaUsuario}}<br>
                {% endfor %}                
            </h4>
        </div>

    </div>

</div>



{% endblock %}