{% extends 'core/base.html' %}
{% load static %}
{% block title %}Registro{% endblock %}
{% block content %}
<style>.errorlist{color:red;} label{display:none}</style>
<main role="main">
  <div class="container">
    <p>
      
    Acceso al Portal 
    El Usuario se obliga a no acceder a los contenidos y/o servicios del Portal por ningún otro medio que no sea la interfaz que Industrias MEXA proporciona al Usuario para acceder a los mismos.
    Identidad del Usuario 
    El Usuario se obliga a no falsear su identidad haciéndose pasar por cualquier otra persona, como por ejemplo, un empleado o representante de Industrias MEXA, o de aquellos servicios que tengan un moderador, fundador, etc, o en general, hacerse pasar por una persona inexistente, por miembro de cualquier entidad o mentir sobre su relación con cualquier otra persona y/o entidad.
    Respeto a otros Usuarios 
    El Usuario esta obligado a no acechar, acosar, o de algún modo hostigar a cualesquiera terceros, a no recoger o almacenar información personal sobre otros Usuarios del Portal sin cumplir la legislación vigente en materia de protección de datos, así como a no poner a disposición de terceros, con cualquier finalidad, datos captados a partir de listas de distribución.
    Finalidad de uso del Portal 
    El Usuario reconoce y acepta que la utilización del Portal será efectuada con fines estrictamente personales, privados y particulares o corporativos, siempre y cuando el uso realizado tenga lugar únicamente a efectos internos. Queda expresamente prohibido que el Usuario autorice a terceros el uso total o parcial del Portal, o que introduzca o incorpore como una actividad empresarial propia los contenidos y servicios del Portal. 
    Queda expresamente prohibido el uso o aplicación de cualesquiera recursos técnicos, lógicos o tecnológicos en cuya virtud los Usuarios puedan beneficiarse, directa o indirectamente, con o sin lucro, de la explotación no autorizada de los contenidos y/o servicios del portal, no garantisamos el servicio.
    Esta proivido ctividades contrarias a la Ley, la moral y el orden público 
    El Usuario se compromete a no utilizar el Portal para la realización de actividades contrarias a la Ley, a la moral, a las buenas costumbres aceptadas o al orden público establecido y con fines o efectos ilícitos, prohibidos o lesivos de derechos e intereses de terceros.
    Utilización, transmisión y difusión de contenidos y servicios. El Usuario se obliga a abstenerse de utilizar los contenidos y/o servicios de cualquier forma que pueda dañar, inutilizar, sobrecargar o deteriorar el Portal o impedir la normal utilización o disfrute del Portal y/o de los contenidos y/o servicios por parte de los Usuarios. 
    Asimismo, queda prohibida la difusión, almacenamiento y/o gestión de contenidos que sean susceptibles de infringir derechos de terceros o cualesquiera normativas reguladoras de derechos de naturaleza civil, penal, administrativa o de la naturaleza que sean. 
    Queda asimismo prohibido que los contenidos difundidos, almacenados y/o gestionados a través de los servicios puestos a disposición de los Usuarios en el Portal:
        atenten contra protección de la infancia, la juventud y la mujer,
        invadan o lesionen la intimidad de terceros,
        supongan o puedan suponer de algún modo un riesgo para la salud o la integridad física o psíquica de los usuarios,
        sean falsos, ambiguos, inexactos, exagerados y/o extemporáneos, de forma que puedan inducir a error sobre su objeto o sobre las intenciones o propósitos del Usuario; induzcan, inciten o promuevan cualquier tipo de (i) actuaciones delictivas, denigratorias, difamatorias, infamantes y/o violentas, (ii) actuaciones, actitudes y/o ideas discriminatorias por razón de sexo, raza, religión, creencias, edad o condición, (iii) actuaciones que desarrollen un estado inaceptable de ansiedad o temor; incorporen mensajes delictivos, violentos, pornográficos, degradantes, y/o de algún modo, sean contrarios a la moral, las buenas costumbres comúnmente aceptadas o al orden público establecido
        sean portadores de virus o cualquier otro código informático, archivos o programas diseñados para interrumpir, destruir o limitar el funcionamiento de cualquier software, hardware o equipo de telecomunicaciones,
        sean susceptibles, de acuerdo con las disposiciones legales aplicables, de infringir el derecho de propiedad intelectual, industrial y otros derechos análogos de terceros, y/o
        constituyan información privilegiada y/o elementos protegidos por derechos de propiedad industrial o intelectual, o información sobre la cual tiene un deber de confidencialidad, etc.

    El Usuario se obliga, por último, a no falsificar ni manipular documentos con el fin de engañar o llevar a engaño a los Usuarios sobre la naturaleza del contenido transmitido.
    Envío no autorizado de comunicaciones 
    El Usuario se obliga, a título meramente enunciativo, a:
        no remitir publicidad de cualquier clase y comunicaciones con fines de naturaleza comercial o publicitaria, o de cualquier otro tipo, que sean "correos basura" (spam), "cartas en cadena", "estructuras piramidales" o cualquier otra forma de envíos masivos no autorizados, excepto en aquellas áreas que hayan sido exclusivamente concebidas para ello;
        no remitir cualesquiera mensajes no solicitados ni consentidos previamente a una pluralidad de personas;
        no enviar cadenas de mensajes electrónicos no solicitados ni previamente consentidos, ni utilizar listas de distribución a las que pueda accederse a través del Portal o de los Servicios para la realización de las actividades señaladas en los apartados (a) y (b) anteriores;
        no utilizar listas de distribución a las que pueda accederse a través del Portal que tuvieren por objeto cualquiera de las conductas arriba mencionadas.
    Funcionamiento del Portal: equipos y sistemas informáticos 
    El Usuario se obliga a:
        no dañar, inutilizar o deteriorar los equipos y sistemas informáticos o equipos de telecomunicaciones de Industrias MEXA o de cualesquiera terceros, ni los contenidos incorporados y/o almacenados en los mismos;
        no modificar los equipos y sistemas de Industrias MEXA de ninguna manera, así como a no utilizar versiones de equipos y sistemas modificados con el fin de obtener acceso no autorizado a cualesquiera contenidos y/o servicios del Portal;
        no interrumpir ni interceptar el curso normal de las conversaciones, provocar que la pantalla del ordenador adquiera mayor velocidad de la normal con la que los Usuarios pueden participar, o de algún modo actuar de manera que afecte de forma negativa a la posibilidad de comunicarse en tiempo real;
        no interferir ni interrumpir el acceso y utilización del Portal, servidores o redes conectados al mismo, o incumplir los requisitos, procedimientos y regulaciones de la política de conexión de redes.
    Copyright 
    El Usuario debe abstenerse de alterar o manipular las menciones de "copyright" y demás datos identificativos de los derechos de propiedad intelectual o industrial de Industrias MEXA o de los titulares de los contenidos incorporados al Portal, así como los dispositivos técnicos de protección, las huellas digitales o cualesquiera otros instrumentos de protección de los contenidos.

    </p>
  </div>
</main>
{% endblock %}