{% extends 'core/base.html' %}
{% load static %}
{% block title %}Perfil{% endblock %}
{% block content %}
<style>
  input:invalid {
    border: 2px dashed red;
  }

  input:valid {
    border: 2px solid black;
  }
</style>

<div class="container">
    {% if 'ok' in request.GET %}
    <p style="text-align: center; color: green;">Se actualizo correctamente.</p>
    {% endif %}
    <br>
    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="">Asunto:</label>
                        <input name="asunto" type="text" class="form-control">
                        <label for="">Cuerpo del correo:</label>
                        <textarea class="form-control" name="cuerpo" id="" cols="30" rows="10"></textarea>
                    </div>
                    <input type="submit" class="btn btn-primary btn-block mt-3" value="Mandar Mensaje">
                </div>
            </div>
            <br><br>
    </form>
</div>
{% endblock %}